@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Monseratt", sans-serif;
}

nav{
  border-style: double;
  border-width: 20px;
}

html{
  background-color: #447799;
}

h1{
    text-align: left;
    margin-top: -250px;
    color: gold;
    font-size: 25px;
    display: block ;
    padding-top: 20%;
}

cite{
  margin-left: 25px;
  font-size: 30px;
  color: aquamarine;
  display: list-item;
  list-style-type: square;
  line-height: 1.8;
}

a{
  margin-left: 25px;
  font-size: 30px;
  color:chartreuse;
}

ul{
  list-style-type: none;
  overflow: hidden;
}

.dropdown{
  float: left;
  text-align: center;
}
a {
  text-align: center;
}

.dropbtn{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

li a:hover{
  background-color: #34495e;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: grey;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #eeeeee;}

.dropdown:hover .dropdown-content {
  display: block;
}




